# Core
python-dotenv
pydantic

# Data Collection
requests
aiohttp
numpy

haystack-ai
redis
langchain
langchain-community
langchain-openai
sentence-transformers

nltk
pypdf

qdrant-haystack 
qdrant-client